.flex {
    display: flex;
}

a {
    text-decoration: none;
}

/* nav {
    background-color: rgb(249, 249, 252);
    padding-bottom: 10px;
} */

.heading {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

.heading1 {
    font-family: 'Merriweather Sans', sans-serif;
    color: rgba(58, 78, 143, 0.705);
    padding: 5px;
}

.text_para {
    font-family: 'Poppins', sans-serif;
}

.active {
    font-weight: bold;
}

.btn {
    border: none;
    background-color: rgb(133, 135, 255);
    color: white;
    padding: 1% 3% 1% 3%;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.btn1 {
    border: none;
    background-color: rgb(133, 135, 255);
    color: white;
    padding: 5% 5% 5% 5%;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}